@page
@using Appsec_webapp.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.DataProtection;
@using Newtonsoft.Json

@inject IHttpContextAccessor context;
@inject UserManager<ApplicationUser> UserManager
@{
    var userDetail = await UserManager.GetUserAsync(User);
    var userDataJson = context.HttpContext?.Session.GetString("Userdata");
    var userData = JsonConvert.DeserializeObject<ApplicationUser>(userDataJson);
    // Unprotect the NRIC
    var protector = DataProtectionProvider.Create("Appsec_webapp").CreateProtector("NRICProtection");
    var nric = protector.Unprotect(userData.NRIC);
}
@model Appsec_webapp.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Profile</h1>
            <!-- Display user data -->
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="Text" class="form-control" value="@userData.FirstName" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="Text" class="form-control" value="@userData.LastName" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="Text" class="form-control" value="@userData.Email" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="Text" class="form-control" value="@userData.UserName" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <input type="Text" class="form-control" value="@userData.Gender" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">NRIC</label>
                <input type="Text" class="form-control" value="@nric" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Date of Birth</label>
                <input type="Text" class="form-control" value="@userData.DateOfBirth" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Resume</label>
                <input type="Text" class="form-control" value="@userData.ResumeFilePath" readonly />
                <a type="button" href="@userData.Resume" target="_blank">View Resume</a>
            </div>
        </div>
    </div>

    
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
